:root {
	/**
	 * Primary accent color for firefox.
	 * This color is used for the Firefox UI elements.
	 * Such as the address bar, tabs, and buttons.
	 */
	--custom-primary-color: rgb(0, 253, 198);

	/**
	* Default colors applied when selecting text.
	* These colors are used for text selection in the browser.
	* They can be overridden by the website's CSS.
	*/
	--custom-selection-text-color: rgb(255, 255, 255);
	--custom-selection-background-color: rgba(0, 253, 198, 0.5);
}